.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-image: url("./images/misc_images/blueprint_bg.jpg");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: 32% 0%;
  background-size: 60%;
}

.Menu {
  font-family: Georgia, serif;
  font-size: 18px;
  color: #15459e;
  font-weight: 500;
  text-decoration: none solid rgb(68, 68, 68);
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(37, 145, 251, 0.98) 0.1%,
    rgba(0, 7, 128, 1) 99.8%
  );
  border-style: ridge;
  border-width: 3px;
  border-color: rgb(218, 218, 218);
  width: 25%;
  height: 100%;
  padding: 3px;
}

.Main {
  align-items: center;
  display: flex;
  flex-direction: column;
  color: var(--bs-gray-dark);
  width: 38%;
  height: 100%;
  padding: 3px;
  padding-top: 50px;
  padding-left: 50px;
}

.Mobile {
  align-items: center;
  display: flex;
  flex-direction: column;
  color: var(--bs-gray-dark);
  width: 37%;
  height: 100%;
  padding: 3px;
  padding-top: 50px;
  padding-left: 50px;
}

.ApplicationTitle {
  font-family: Georgia, serif;
  font-size: 18px;
  color: #ffdc15;
  font-weight: 500;
  text-decoration: none solid rgb(68, 68, 68);
  padding-top: 5px;
}

.Search {
  background-color: rgb(241, 241, 241);
  margin-bottom: 5px;
}

.ImageCanvas {
  margin-top: -350px;
  margin-bottom: 75px;
  display: flex;
  flex-direction: row;
  color: var(--bs-gray-dark);
  background-color: rgb(253, 250, 250);
  border-color: rgb(27, 27, 27);
  border-style: solid;
  border-width: 8px;
  border-radius: 25px;
  width: 400px;
  height: 290px;
  padding: 3px;
}

.MousePanel {
  width: 40%;
  height: 100%;
}

.HeaderSpacer {
  width: 100%;
  height: 10%;
}

.MouseImagePort {
  width: 100%;
  height: 75%;
}

.MouseImageLand {
  width: 100%;
}

.MouseName {
  width: 100%;
  height: 15%;
}

.TextPanel {
  background-color: rgb(253, 250, 250);
  width: 60%;
  height: 100%;
  padding: 5px;
}

.CrownText {
  width: 100%;
  height: 65%;
}

.TitleText {
  font-family: lucida grande, tahoma, verdana, arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}

.SubTitleText {
  font-size: 12px;
  font-family: lucida grande, tahoma, verdana, arial, sans-serif;
  font-weight: 700;
}

.PlainText {
  font-size: 11px;
  font-weight: 100;
  font-family: lucida grande, tahoma, verdana, arial, sans-serif;
}

.TextLeft {
  text-align: left;
}

.TextCenter {
  text-align: center;
}

.ButtonPanel {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row-reverse;
  padding-top: 5px;
  width: 385px;
  height: 50px;
}

.PrimaryButton {
  cursor: pointer;
  color: var(--bs-gray-dark);
  background-image: linear-gradient(
    to right,
    #ff8008 0%,
    #ffc837 51%,
    #ff8008 100%
  );
  border-color: rgb(255, 215, 130);
  border-style: outset;
  border-width: 2px;
  border-radius: 8px;
  width: 90px;
  height: 35px;
  padding: 2px;
  margin: 2px;
}

.Disclaimer {
  font-family: Georgia, serif;
  font-size: 18px;
  color: #ffdc15;
  font-weight: 500;
  text-decoration: none solid rgb(68, 68, 68);
  margin-top: 450px;
  padding-top: 5px;
  width: 385px;
  height: 50px;
}

.gameView {
  margin-top: -565px;
  margin-bottom: 75px;
  align-items: center;
  display: flex;
  background-image: url("./images/misc_images/leather_texture_320.png");
  flex-direction: column;
  border-style: ridge;
  border-width: 2px;
  border-radius: 2px;
  width: 325px;
  height: 500px;
  padding: 2px;
}

.HuntResultMobile {
  margin-bottom: 22%;
  display: flex;
  flex-direction: column;
  border-color: rgb(68, 64, 64);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  width: 93%;
  height: 72%;
  padding: 3px;
  background-color: #ffffff;
}

.HuntResultText {
  width: 100%;
  height: 15%;
  padding: 3px;
}

@font-face {
  font-family: "Baskervile";
  src: url("./fonts/Baskerville-Semibold.ttf");
  font-weight: bolder;
}

.MobileTextA {
  color: #3d1f01;
  font-family: Baskervile;
  font-size: 14px;
  margin-bottom: 0;
}

.MobileTextB {
  color: #3d1f01;
  font-family: Baskervile;
  font-size: 20px;
  margin-bottom: 0;
}

.ResultFlair {
  align-items: center;
  width: 100%;
}

.MobileMousePanel {
  padding: 3px;
  width: 100%;
  height: 75%;
  background-color: #ffffff;
}

.MobileMouseImagePort {
  /* width: 50%; */
  height: 100%;
}

.MobileMouseImageLand {
  width: 100%;
  /* height: 90%; */
}

.ToastPanel {
  display: flex;
  flex-direction: column;
  border-color: rgb(230, 230, 230);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  width: 98%;
  height: 13%;
}

.Toaster {
  width: 100%;
  height: 100%;
  border-radius: 9px;
}
